.container {
  padding: 10px;
  background-color: black;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.yellow {
  background-color: yellow;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.green {
  background-color: green;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.light_on {
  box-shadow: inset 0px 0px 30px white, 0px 0px 30px white, 0px 0px 60px white;
}
